/.git*
/.idea*
docker/
redis/
mysql/
meilisearch/
storage/debugbar/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/*
storage/temp/*
vendor/
bootstrap/cache
!bootstrap/cache/.gitignore
.dockerignore
.editorconfig
.phpstorm.meta.php
Dockerfile
_ide_helper.php
docker-compose.yml
Makefile
.drone.yml
.env.default
.env.dev
.env.prod
.env.test-ci