* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Instrument Sans', sans-serif;
}

:root {
    --color-primary: #347ce9;
    --color-secondary: #6bab8f;

    --color-glass: #cbe7f240;
    --color-border: #dbebf240;
    --color-shadow: #10141504;

    --color-text: #0e1016;
    --color-text-muted: #373c50;
}

body {
    min-height: 100vh;
    padding: 2rem;

    display: grid;
    place-items: center;

    background: linear-gradient(30deg, var(--color-primary), var(--color-secondary));
}

.container {
    padding: 1.5rem;
    width: 480px;
    height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-glass);
    border: 1px var(--color-border) solid;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem var(--color-shadow);

    text-align: center;
}

h1 {
    font-size: 4rem;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.125rem;
    color: var(--color-text-muted);
}